@charset "UTF-8";

/*  ################################################################
    BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */

.navbar-default .navbar-nav>li>a {
    color: #f1602b!important;
    font-weight: 700;
    font-size: 1.3em;
    height: 100%;
    line-height: 2.2em;
    max-width:100%;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #777;
}

.navbar-default .navbar-nav>li.active>a {
    color: #f1602b;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent!important;
    background-color: transparent!important;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.9)!important;
}

#container-navbar {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

.navbar-brand {
    padding: 0!important;
}

#home {
  padding-top: 0.4em;
  padding-bottom: 0.2em;  
}

container { width: 100% !important } 

/*  ################################################################
    CUSTOM CSS
################################################################# */

/* Basic */

body {
    -webkit-font-smoothing: antialiased;
    background: #fff;
    font-family: "museo-sans", sans-serif;
    word-break: keep-all;
    max-width:100%;
    color: #444;
    font-size: 13pt;
    font-weight: 500;
    line-height: 1.65em;
}

a {
    color: #383b43;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1em;
    margin: 0.3em;
}

h1 {
    color: #f1602b;
    font-size: 32px;
}

h3 {
    color: #a7c84a;
    font-size: 19px;
}

h2 {
    color: #f1602b;
    font-size: 26px;
}

.align-center {
    text-align: center;
}


/* Section/Article */

section.special {
    text-align: center;
}

/* Box */

.box {
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

.box1>h3 {
    padding-bottom: 0.4em;
}

.box1 {
    padding: 0.5em 0.5em 0.5em 0.5em;
    max-width: 380px;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
    margin-bottom: 0;
}


/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon:active,
.icon:hover {
    text-decoration: none;
}


/* List */

ul {
    color: #f1602b;
    list-style: disc outside;
    margin: 0 0 2em 0;
    padding-left: 1em;
    text-align: left;
}

ul:not(.navbar-nav) li {
    padding-bottom: 0.6em;
}

li span {
    color: black;
}

/* Header */

.header {
    position: relative;
    text-align: center;
    color: white;
}

.header-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.mobile-header-text {
    font-size: 1.1em;
}

.header-text > h1 {
    color:white;
    font-size: 2.2em;
}

.header-text > p {
    font-size: 1.2em;
}

.major {
    color: #f1602b;
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

/* Wrapper */

.wrapper {
    padding: 1em;
}

.row {
    border-bottom: solid 1px transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.style2 {
    background: url("../images/notebook.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
}

#two {
    padding-bottom: 2em;
}

#choose {
    color: white;
    margin-bottom: 1em;
}

.icon {
    width: 25%;
    color: #a7c84a;
}

.contact-text {
    font-weight: bold;
    color: #f1602b;
    padding-right: 2px;
    padding-left: 2px;
}

.intro-text {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.orange-icon {
    width: 25%;
    color: #f1602b;
}

@media (max-width: 349px) {
    .header-text >h1 {
        font-size: 1.5em;
    }
}

@media (min-width: 350px) and (max-width: 480px) {
    .orange-icon {
        width: 40%;
        color: #f1602b;
    }
    #contact-row-box {
        padding-right: 0;
        padding-left: 0;
    }
    .header-text {
        width: 75%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header-text >h1 {
        font-size: 2em;
    }
    .mobile-header {
        position: relative;
        top: 60;
    }
    .navbar-nav {
        margin-left: -15px!important;
        margin-right: -15px!important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        position: relative;
        top: 6;
    }
    #container-navbar {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .orange-icon {
        width: 30%;
        color: #f1602b;
    }
    .header-text {
        width: 75%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mobile-header-text {
        font-size: 1.1em;
    }
    .header-text >h1 {
        font-size: 2em;
    }
    .mobile-header {
        position: relative;
        top: 60;
    }
    .navbar-nav {
        margin-left: -15px!important;
        margin-right: -15px!important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        position: relative;
        top: 6;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .header-text {
        width: 75%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1000px) and (max-width: 1850px) {
    .header-text {
        width: 50%;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1850px) {
    .orange-icon {
        width: 22%;
        color: #f1602b;
    }
    .header-text {
        width: 40%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #container-navbar {
        padding-left: 2.5em;
        padding-right: 3em;
    }
}